{
    "BRAINSFit" :               <Path>,
    "BRAINSResample" :          <Path>,
    "c3d" :                     <Path>,
    "ResampleScalarVolume" :    <Path>,
    "TubesToImage" :            <Path>,
    "TubeTransform" :           <Path>,
    "ANTS" :                    <Path>,
    "WarpImageMultiTransform" : <Path>
}
